@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');


body {
    margin: 0;
     font-family: 'Montserrat';
}
.container{
    text-align: center;
    
}

header {
    background: #363839;
    display: flex;
    justify-content: space-between;
}
.mainpage {
    margin-top: 15px;
}

.headlines {
    padding: .8em 1.2em;
}

.bigbuttons {
    margin-left: 0;
    margin-right: 0;
    justify-content:center;
}

.hide-mobile{
    display: none;
}


.logo {
    width: 130px;
    margin-left: 5px;
    margin-top: 3px;
}
.logo:hover {
    background-color: #525658 ;
}

.menu {
    margin-top: 15.5px;
    margin-right: 14px;
}
ul {
    list-style: none;
    
}

h1 {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 40px;
}
.subheader{
    font-size: 25px;
    line-height: 50px;
    
}

.bigbuttons{
    justify-content:center;
}
.bigbuttons ul{
    padding-left:  0px;
    
}
.startroombig {
    background-color: #00CC80;
    width: 200px;
    display: block;
    color: white;
    border-radius: 25px;
    padding: .5em;
    text-decoration: none;
    font-size: 1.5em;
    margin: auto ;
    margin-bottom:  4%;
    position:relative; 
   

}
.startroombig:hover{
    background-color: #008856;
}


    



.joinroombig {
    background-color: #5084D8;
    width: 200px;
    display: block;
    color: white;
    border-radius: 25px;
    padding: .5em;
    text-decoration: none;
    font-size: 1.5em;
    margin: auto;
    position:relative; 
    
}

.joinroombig:hover{
    background-color: #0e47a3;
}

.navbar{
   z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
}


nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: #363839;
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}
nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
}

nav ul li a:hover {
    background-color: #525658;
}
.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

.exit-btn img {
    width: 20px;
    cursor: pointer;
}

.tutorialStep {
    display: inline;
    justify-content:  space-between;
}

.tutorialImages{
    padding-left: 3em;
    padding-right: 3em;
}

.tutorialImageDivs img {
    width: 600px;
    height: 300px;
    


}

.aStep {
    display: flex;
    justify-content:  space-between;
    margin-top: 10%;
}

.tutorialText {
    padding-top: 8%;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 0.8em;
}

.aStep {
    display: inline;
    justify-content:  space-between;
}

@media only screen and (min-width: 556px){
    h1{
        font-size: 45px;
    }
    .subheader{
        font-size: 35px;
    }
    .tutorialText{
       font-size: 0.8em; 
    } 
}
@media only screen and (min-width: 710px){
    h1{
        font-size: 50px;
    }
    .subheader{
        font-size: 40px;
    }
    .tutorialText{
        font-size: 1em; 
     } 
     
    
}

@media only screen and (min-width: 850px){
    
    

    .hide-desktop{
        display: none;
    }
    .show-desktop{
        display: block;
        margin: 0 auto 13% auto ;
    }

    nav ul {
        position: absolute;
        top: -45px;
        right: 90px;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        text-align: right;
        padding: 1em 1em;
        padding-left: -20px;
    }
   nav ul li a:hover {
       background-color:#525658;
   }
    
}

@media only screen and (min-width: 1025px){
   
    h1, .subheader{
        margin-left: 10%;
        margin-right: 10%;
    }
    .logo{
        margin-left: 30px;
    }
    h1 {
        margin-top: 100px;
    }
    .tutorialText{
        font-size: 1.2em; 
     } 
    .aStep {
        display: flex;
        justify-content:  space-between;
        margin-bottom: 10%;
    }
    
    .stepOne div:nth-of-type(1){
        order: 1;
    }
    .stepOne div:nth-of-type(2){
        order: 2;
    }

    .stepTwo div:nth-of-type(1){
        order: 2;
    }
    .stepTwo div:nth-of-type(2){
        order: 1;
    }

    .stepThree div:nth-of-type(1){
        order: 1;
    }
    .stepThree div:nth-of-type(2){
        order: 2;
    }

    .stepFour div:nth-of-type(1){
        order: 2;
    }
    .stepFour div:nth-of-type(2){
        order: 1;
    }

    

}
@media only screen and (min-width: 1422px){
    h1{
        font-size: 55px;
    }
    .subheader{
        font-size: 45px;
    }
    .tutorialText{
        font-size: 1.5em; 
     } 
    .tutorialImageDivs{
        width: 100%;
    }
}